.block_sidebar {
    min-height: 800px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 7px 25px 5px rgba(0,0,0,0.4);
}

.block_Setting {
    display: flex;
    padding: 20px 20px;
}
.buttonSlide button{
    position: relative;
    z-index: 2;
    margin-left: -45px;
    width: 45px;
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    background-color: #282c34;
    color: white;
}
.buttonSlide button:focus{
    outline:none;
}
.buttonSlide {
    height: 35px;
}
.addStorage {
    height: 35px;
    margin-left: 30px ;
}
.addStorage button{
    position: relative;
    z-index: 2;
    width: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    font-weight: 500;
    background-color: green;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.blockNames  {
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.listNames  {
    transition: 0.55s;
    position: relative;
    transform: translateY(-100%)
}

.listNamesVisab {
    transition: 0.55s;
    position: relative;
    transform: translateY(0%)
}
