.login_input {
    box-shadow: 3px 4px 25px 3px rgba(0,0,0,0.4);
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding-left: 20px;
    width:280px;
    height: 40px;
    background-color: #282c34;
    border:none;
}
.password_input {
    box-shadow: 3px 4px 25px 3px rgba(0,0,0,0.4);
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding-left: 20px;
    width:280px;
    height: 40px;
    background-color: #282c34;
    border:none;
}
.login_input::placeholder{
    color: skyblue;
    opacity: 0.9;
}
.password_input::placeholder{
    color: skyblue;
    opacity: 0.9;
}
.rememberMe_Block {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.rememberMe_Block p{

    margin: 0;
    font-weight: 700;
    color: #282c34;
    padding-left: 5px;
    font-size: 17px;
}
.rememberMe_Block input:hover{
    cursor: pointer;
}
.rememberMe_Block input {
    width: 17px;
    height: 17px;
}
.login_button {
    box-shadow: 3px 2px 25px 3px rgba(0,0,0,0.4);
    margin-top: 15px;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    transition:0.2s ;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 35px;
    background-color: #282c34;
    color: gold;
    letter-spacing: 1.5px;
}
.login_button:hover {
    cursor: pointer;
    transition:  0.2s;
    transform: translateY(-2px);
}
.wrapper_button {
    width: 100%;
    display: flex;
    justify-content: center;
}